/target
# Criterion seems to use the wrong target folder in a workspace. Not a big issue, let's just ignore
# it here, too.
/odbc-api/target

# Let's commit Cargo.lock sinc `odbcsv` is a binary.
# Cargo.lock

# Normally IDE stuff is put in global gitignore, but at the moment I don't know how to make this
# work with the development container
/.idea/

# Machine specific test expectation for list-drivers test
/odbcsv/tests/list-drivers.txt

# Artefact created during test run
/odbc-api/sqlite-test.db