[package]
name = "odbc-api"
version = "0.27.1"
authors = ["Markus Klein"]
edition = "2018"
license = "MIT"
repository = "https://github.com/pacman82/odbc-api"
documentation = "https://docs.rs/odbc-api/"

# A short blurb about the package. This is not rendered in any format when
# uploaded to crates.io (aka this is not markdown).
description = "Write ODBC Applications in (mostly) safe Rust."

# This is a list of up to five keywords that describe this crate. Keywords
# are searchable on crates.io, and you may choose any words that would
# help someone find this crate.
keywords = ["odbc", "database", "sql"]

# This is a list of up to five categories where this crate would fit.
# Categories are a fixed list available at crates.io/category_slugs, and
# they must match exactly.
categories = ["api-bindings", "database"]

# This points to a file under the package root (relative to this `Cargo.toml`).
# The contents of this file are stored and indexed in the registry.
# crates.io will render this file and place the result on the crate's page.
readme = "../Readme.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
odbc-sys = "0.18.4"
thiserror = "1.0.28"
log = "0.4.14"
widestring = "0.4.3"
force-send-sync = "1.0.0"

[target.'cfg(windows)'.dependencies]
raw-window-handle = "0.3.3"

[dev-dependencies]
lazy_static = "1.4.0"
env_logger = "0.9.0"
anyhow = "1.0.43"
csv = "1.1.6"
test-case = "1.2.0"
tempfile = "3.2.0"
